#root {
	margin: 0;
	background-color: aquamarine;
	height: 100;
}
.app-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#welcome {
	display: flex;
	justify-content: center;
}
main {
	justify-content: center;
}
button {
	width: 100px;
	height: 50px;
	border-radius: 25px;
}

@font-face {
	font-family: 'alagard';
	src: url(./fonts/alagard.ttf);
}
